<div class="container">
  <footer class="footer">
    <small>
      <%= link_to "Spitfire Athlete", root_path %> by
      <%= link_to "Erin Parker", url_for("http://www.erinchanparker.com/"), :target => '_blank' %>
    </small>
    <br /><br /><br />
  </footer>
</div>