<header class="navbar navbar-fixed-top container">

  <div class="navbar-inner">
    <%= link_to "spitfire athlete", root_path, id: "logo"; %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "ABOUT" %></li> 
          </ul>
        </nav>  
  </div>

</header>